.formItem {
  margin-bottom: 30px;
  display: flex;
  align-items: center;

  &[required] .formLabel::after {
    content: '*';
    color: red;
  }
}
.formLabel {
  font-weight: 450;
  width: 120px;
}
.formError {
  //   margin-top: 10px;
  line-height: 32px;
  margin-left: 5px;
}
.button {
  margin-left: 100px;
}
